@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&family=Quicksand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Quicksand', 'Outfit', monospace, sans-serif;
}

:root {
    --main-white: #fff;
    --main-black: #000;
    --lightgray: #d7d7d7;
    --violet: blueviolet;
}

::-webkit-scrollbar {
    background-color: var(--lightgray);
    border-radius: 30px;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--violet);
    border-radius: 30px;
}

header {
    background-image: url("./assets/financial-management-tech.jpg");
    background-position: center;
    position: relative;
    text-shadow: .5px .5px .5px var(--main-black);
    width: 100%;
}

li {
    display: flex;
    align-items: center;
    gap: 10px;
}

form input:focus {
    outline: none !important;
    border: 1.5px solid rgb(169, 109, 225) !important;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder {
    position: absolute;
    transform: translateX(-0%);
    will-change: transform;
    transition: transform .200s ease-in-out;
}

input[type="text"]:focus::placeholder,
input[type="number"]:focus::placeholder {
    transform: translateX(-150%);
}

.nav-toggler {
    display: none;
    height: 40px;
}

.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: blueviolet;
    display: block;
    transition: .3s;
}

.nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
}

.nav-toggler span:after {
    content: '';
    transform: translateY(6px);
}

.nav-toggler.toggler-open span {
    background-color: transparent;
}

.nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
}

.nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
}

.cards .card {
    background: linear-gradient(to bottom, transparent 50%, rgb(165 243 252) 10%);
    background-size: 100% 200%;
    box-shadow: rgba(142, 10, 218, 0.15) 3px 3px 5px;
    transition: background-position 0.3s ease;
}

.cards .card:hover {
    background-position: 0 -100%;
    color: var(--violet);
    font-weight: 600;
}

.animation {
    box-shadow: var(--violet) -5px 5px, rgb(192 132 252) -10px 10px, rgb(216 180 254) -15px 15px;
    border-radius: 30px;
    background: linear-gradient(to right, rgb(222, 194, 252) 50%, rgb(192 132 252) 10%);
    background-size: 200% 100%;
    transition: all 0.3s ease-in-out;
    max-width: 500px;
    width: 100%;
}

.animation:hover {
    box-shadow: rgb(216 180 254) -5px 5px, rgb(192 132 252) -10px 10px, var(--violet) -15px 15px;
    background-position: -100% 0;
    color: var(--main-white);
    font-weight: 600;
}

.animation:nth-child(2):hover,
.animation:nth-child(4):hover {
    box-shadow: rgb(216 180 254) 5px 5px, rgb(192 132 252) 10px 10px, var(--violet) 15px 15px;
}

.animation:nth-child(2),
.animation:nth-child(4) {
    box-shadow: var(--violet) 5px 5px, rgb(192 132 252) 10px 10px, rgb(216 180 254) 15px 15px;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}

.register article {
    text-shadow: .5px .5px .5px var(--main-black);
}

.get-started {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: all .4s ease;
}

.socials span.icon {
    cursor: pointer;
    transition: .3s ease-in-out;
}

.socials span.icon:hover {
    transform: scale(0.9);
}

@media (width <= 1240px) {
    header {
        background-position: left;
        justify-content: center !important;
        text-align: center;
    }

    .dropdowns {
        flex-direction: column;
        gap: 3px;
        padding: 2px;
    }

    .animation {
        border-radius: 30px !important;
        max-width: 350px;
        width: 100%;
    }

    .register div {
        top: 10px;
    }
}

@media (width <= 1024px) {
    .details .content {
        justify-content: space-around !important;
        padding-top: 0 !important;
    }

    .animation {
        max-width: 200px;  }

}

@media (width <= 865px) {
    .container {
        margin-top: 155px;
    }
    
    .dropdowns {
        flex-direction: unset;
        gap: 8px;
    }

    header article {
        background: rgba(0, 0, 0, 0.35);
        text-shadow: 1px 1px 1px var(--main-black);
        width: 100%;
    }

    nav {
        flex-direction: column;
        font-size: medium;
        padding-bottom: 10px;
    }

    nav .navmenu {
        padding: 15px;
    }

    .nav-toggler span,
    .nav-toggler span:before,
    .nav-toggler span:after {
        background-color: cyan;
    }

    .logo img {
        height: 60px;
    }

    .cards .card figure img {
        max-width: 80px;
    }
    .cards .card {
        font-size: small;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .animation {
        border-radius: unset;
        max-width: 350px;
    }

    .details .content {
        flex-direction: column;
        gap: 32px;
        text-align: center;
    }

    .details .content:nth-child(2),
    .details .content:nth-child(4) {
        flex-direction: column-reverse;
    }

    .register {
        flex-direction: column-reverse;
    }

    .register div {
        position: relative;
    }
}

@media (width <= 768px) {
    .cards {
        grid-template-columns: repeat(2, 2fr);
    }

    .cards .card {
        flex-direction: row;
        justify-content: unset;
        text-align: unset;
    }
}

@media (width <= 675px) {
    .container {
        margin-top: 100px;
    }

    .logo {
        display: none;
    }

    .nav-toggler {
      display: block;
      margin: 10px;
      padding: 4px;
    }
  
    nav {
      flex-direction: unset;
      position: sticky;
      top: 0;
      left: 0;
      width: 100%;
      height: 100px;
    }
  
    nav .navmenu {
      position: absolute;
      width: 60%;
      flex-direction: column;
      justify-content: center;
      gap: 0;
      height: calc(100vh - 100px);
      left: -100%;
      font-weight: bolder;
      top: 90px;
      background-color:#189AB4;
      border-radius: 8px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s, left 0.4s;
    }
  
    nav .navmenu.open {
      left: 0;
      max-height: 250px;
      overflow: visible;
    }
  
    nav .navmenu.close {
      animation: slideOut 0.8s ease-out; /* Custom animation for closing */
      left: -100%;
      max-height: 0;
      overflow: hidden;
    }
  
    nav .navmenu li {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        border-radius: 4px;
        width: 100%;
        text-align: center;
        padding: 10px;
        margin-left: 0 !important;
    }
  
    nav .navmenu li span {
      color: var(--main-white);
      display: block;
    }
  
    nav .navmenu li:hover {
      background-color: rgba(0, 255, 255, 0.35);
    }

    nav .navmenu li:hover a,
    nav .navmenu li:hover span {
        color: var(--violet) !important;
    }
  
    #dropdownDefaultButton {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: 10px;
    }
  
    .dropdown {
      width: 100%;
    }
}

@media (width <=  475px) {
    .cards {
        grid-template-columns: 1fr;
    }

    .dropdowns button {
        font-size: small;
        max-width: 130px;
    }
}

@media (width <= 320px) {
    body,
    form input,
    form input::placeholder,
    form input[type=date] {
        font-size: small !important;
    }

    form input::placeholder {
        padding-top: 4px;
    }

    nav .navmenu {
        font-size: small;
        padding: 15px;
    }

    nav .navmenu.open {
        max-height: 280px;
    }

    #dropdownDefaultButton {
        width: 100%;
        margin: 0;
    }
}

@keyframes slow {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }

    100% {
        transform: rotate(0deg);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        max-height: 300px;
    }
    to {
        max-height: 0;
    }
}
